

#titleheader {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 100px;
    background-color: #ffadc2;

}

#pickcardfooter {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:white;
    margin-top: 100px;
    background-color: #ffadc2;
   
}




/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 150px;
    height: 200px;
    border: none; /* change to solid color to see border */
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  #profileCard .flip-card-front {
    background-color:  #bbb6df;
    color: white;
    border-radius: 10px;
  }
  
  /* Style the back side */
  #profileCard .flip-card-back {
    background-color: #bbb6df;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding-top: 50px;
  }

  /* Style the front side (fallback if image is missing) */
  #projectsCard .flip-card-front {
    background-color:  #ffadc2;
    color: white;
    border-radius: 10px;
  }
  
  /* Style the back side */
  #projectsCard .flip-card-back {
    background-color: #ffadc2;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding-top: 50px;
  }

  /* Style the front side (fallback if image is missing) */
  #blogpostsCard .flip-card-front {
    background-color: #c8d6af;
    color: white;
    border-radius: 10px;
  }
  
  /* Style the back side */
  #blogpostsCard .flip-card-back {
    background-color: #c8d6af;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding-top: 50px;
  }

  /* LINK STYLING */
  a {
    color:white;
    text-decoration: none;
  }

  a:link {
    color:white;
  }
  
  a:visited{
    color: white;
    text-decoration: none;
  }

  #card-text-head {
    font-size: 20pt;
    font-family:
  }

  #card-text-content {

  }

  /*end link styling*/
